{{!-- {{#each values}} --}}

{{!-- <h1>{{@index}}. {{this}}</h1> --}}

{{!-- {{/each}} --}}

{{!-- <h1>{{person.comments.comment}}</h1> --}}

{{!-- if statement --}}

{{#if person.admin}}

<h1>This is admin</h1>

{{else}}

<h1>This is not an admin</h1>

{{/if}}